<div class="container">
    <h4>Delete this quote</h4> <br>
    <button class="btn btn-outline-danger" (click)= 'quoteDelete(true)'>Delete</button> <br> <br>
    <p>This quote  will be complete in {{quote.postDate|dateCount}} days ago!</p>
    <h6 class="text-end">This was posted by @ {{quote.Yourname}}</h6>

        <p>
          <strong>Your name</strong> :{{quote.Yourname}}
        </p>
        <p>
          Quote{{quote.Quote}}
        </p>
        <p>
          Upvotes:{{quote.voteUp}}
        </p>
        <p>
          Downvotes:{{quote.voteDown}}
        </p>
        <p>
           Date {{quote.postDate|date}}
        </p>
</div>
