<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Quote Form</h2>
        </div>
        <div class="col-md-6">
            <ul>
                <div class="row">
                    <li *ngFor="let quote of quotes; let i = index" class="mt-5 col-md-6 ">
                        <h1 class="text-center">Quotezz {{quote.id}}</h1>

                        <p> 
                            {{quote.id}}
                            {{ quote. quoteName }} <br>
                            <button class="btn btn-success mt-5" (click)='toggleDetails(i)'>See More</button>
                            <app-quote-details *ngIf='quote.showVote'  [quote]="quote" (isComplete)='deleteQuote($event,i)'> </app-quote-details>

                        </p>
                       <div class="container1">
                        <button class=" btn btn-success mt-3 m-3" (click)="voteUp(i)" >{{quote.voteUp}}voteUP </button>
                        <button class=" btn btn-danger m-3 " (click)="voteDown(i)">{{quote.voteDown}}voteDown</button>
                       </div>
                    </li>
                  
                   
                </div>
               
            </ul>
           
        </div>
    </div>
    
</div>
