p{
    flex-wrap: wrap;
    border: 2px solid black;
    padding: 50px;
    border-radius: 45px;
   background-color: rgba(245, 222, 179, 0.763);
   box-shadow: 3px 2px 4px black;
}

 ul li{
     list-style-type: none;
 }
 .row{
     height: fit-content;
 }
 .col-md-8{
    background-color: rgba(13, 13, 13, 0.511);
 }

 .container1{
     display: flex;
 }
  .date{
      font-family: Beau Rivage;
      color: red;
      font-weight: 800;
  }
  .col-md-4{
    background-color: rgba(132, 119, 119, 0.478);
    height: 500px;
}