<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-center text-info">Quote Form</h2>
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
        <div class="col-md-8">
            <h2 class="text-center text-info mb-5">My QUOTZZ</h2>
            <ul>
                <div class="row qts">
                    <li *ngFor="let quote of quotes; let i = index" class="mt-5 col-md-12 ">

                        <h1 class="text-center text-info">Quotezz {{quote.id}}</h1> 
                        <div *ngIf="quote.voteUp == highestv() && quote.voteUp >0; then  highlight else empty"></div>
                        <ng-template #highlight>
                            <p appHighlight >
                                <i class='fas fa-thumbs-up fa-lg'></i>
                                {{quote.id}}
                                {{ quote.Quote }} <br> posted on   <span class="date mt-5" >  {{ quote.postDate|date}} </span><br>
                                <button class="btn btn-success mt-5" (click)='toggleDetails(i)'>See More</button>
                                <app-quote-details *ngIf='quote.showVote'  [quote]="quote" (isComplete)='deleteQuote($event,i)'> </app-quote-details>
                                <button class="  mt-3 m-3" (click)="voteUp(i)">{{quote.voteUp}}<span class="mdi mdi-thumb-up-outline"></span></button>
                        <button class=" m-3 " (click)="voteDown(i)">{{quote.voteDown}} <span class="mdi mdi-thumb-down-outline"></span></button>
                            </p>
                            
                        </ng-template>
                        <ng-template #empty>
                            <p>
                                {{quote.id}}
                                {{ quote.Quote }} <br> posted on   <span class="date mt-5" >  {{ quote.postDate|date}} </span><br>
                                <button class="btn btn-success mt-5" (click)='toggleDetails(i)'>See More</button>
                                <app-quote-details *ngIf='quote.showVote'  [quote]="quote" (isComplete)='deleteQuote($event,i)'> </app-quote-details>
                                <button class="  mt-3 m-3" (click)="voteUp(i)">{{quote.voteUp}}<span class="mdi mdi-thumb-up-outline"></span></button>
                        <button class=" m-3 " (click)="voteDown(i)">{{quote.voteDown}} <span class="mdi mdi-thumb-down-outline"></span></button>
                            </p>
                           
                        </ng-template>
                        
                    </li>
                </div>
               
            </ul>
           
        </div>

    </div>
    
</div>
