p{
    flex-wrap: wrap;
    border: 2px solid black;
    padding: 50px;
    border-radius: 45px;
   background-color: rgba(245, 222, 179, 0.763);
   box-shadow: 3px 2px 4px black;
}
.container{
    background-color: rgba(0, 0, 0, 0.45);
}
 ul li{
     list-style-type: none;
 }
 .row{
     height: 600px;
 }
 .qts{
    background-color: rgba(255, 255, 255, 0.764);
    height: fit-content;
 }

 .container1{
     display: flex;
 }
  .date{
      font-family: Beau Rivage;
      color: red;
      font-weight: 800;
  }
 