p{
    flex-wrap: wrap;
    border: 2px solid black;
    padding: 50px;
    border-radius: 45px;
   background-color: rgba(245, 222, 179, 0.763);
   box-shadow: 3px 2px 4px black;
   max-height: 600px;
}
.container{
    background-color: rgba(0, 0, 0, 0.57);
}
 ul li{
     list-style-type: none;
 }
 .row{
    background-color: rgba(255, 255, 255, 0.407);
 }

 .container1{
     background-color: grey;
     display: flex;
 }