<div class="container-fluid">
    <h2 class="text-center">Create a new Quote</h2>
    <hr>
    <form (ngSubmit)='submitQuote() ;quotesForm.resetForm({})' #quotesForm='ngForm'>
        <div class="form-group">
  
            <label for="yourname">YourName</label>
            <input type="text"  minlength="3" class="form-control" id="Yourname" [(ngModel)]="newQuote.Yourname" name="name" #Yourname='ngModel'>
            <div *ngIf="Yourname.invalid && Yourname.dirty " class="alert alert-danger">
                <p *ngIf="Yourname.errors">Name is required</p>
            </div>
        </div>

        Display {{newQuote.Yourname}}
        <div class="form-group">
  
            <label for="QuoteName">Quote</label>
            <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.Quote" name="Quote" #Quote="ngModel" required></textarea>
            <div *ngIf="Quote.invalid && Quote.dirty" class="alert alert-danger">
                <p>Description is required</p>
              </div>
        </div>
        <div class="form-group mt-5">
            <label for="dateposted">Date Posted</label>
            <input type='date' id="postDate" [(ngModel)]="newQuote.postDate" name="postDate" #postDate="ngModel" required>
            <div *ngIf="postDate.invalid && postDate.dirty" class="alert alert-danger">
                <p>Date is required</p>
              </div>
        </div>
        <button type="submit" class="btn btn-success mt-5">Add Quote</button>
    </form>
  </div>